.gradle/
build/
.idea/
*.iml
local.properties
.DS_Store
.kotlin/
kotlin-js-store/
captures/
.cxx/
xcuserdata/
*.xcworkspace/xcuserdata/
**/build/outputs/roborazzi/
**/*-diff.png
**/*-actual.png
**/*-compare.png
